<div class="container w-50" align="center">
  <h3 class="display-5 text-secondary">Please enter yor email to reset your password!</h3>
  <p>We will send you a verification code!</p>
  <br/><br/>
  <form class="w-75" [formGroup]="passwordResetRequestGroup" (ngSubmit)="onPasswordResetRequest()">
    <ul class="list-group">
      <li class="list-group-item">
        <label for="email">Email:</label>
        <input id="email" class="form-control" style="width:300px;" type="email" formControlName="email"/>
      </li>
    </ul>
    <br/>
    <!-- TODO IMPLEMENT IN DEV.-->
    <!--    <label class="mt-2" style="color: red;">{{userStatusMapping(statusMapping.getStatus('PASSWORD_RESET_STATUS'))}}</label><br/>-->
    <button class="btn btn-success">Send code!</button>
  </form>
</div>
