<main role="main">
  <div class="jumbotron mt-n4">
    <div class="container">
      <h1 class="display-3">Green Shipping</h1>
      <p>Ship from anywhere in Munich by using our fleet of eco friendly Tesla Semi Trucks. Same day shipping and
        continuous tracking. Feel free to contact support anytime regarding your concerns. Go Green!
      </p>
      <p><a class="btn btn-primary btn-lg" routerLink="/about" role="button" (click)="onLearnMore()">Learn more
        &raquo;</a></p>
    </div>
  </div>
  <app-deliveries></app-deliveries>
</main>
