<div class="container w-50" align="center">
  <h3 class="display-5 text-secondary">Please enter your email to reset your password!</h3>
  <p>We will send you a verification code!</p>
  <br/><br/>
  <form class="w-75" [formGroup]="passwordResetGroup" (ngSubmit)="onPasswordReset()">
    <ul class="list-group">
      <li class="list-group-item">
        <label for="code">Code:</label>
        <input id="code" class="form-control" style="width:300px;" formControlName="code"/>
      </li>
      <li class="list-group-item">
        <label for="password">New password:</label>
        <input id="password" class="form-control" style="width:300px;" type="password" formControlName="password"/>
      </li>
      <li class="list-group-item">
        <label for="samePassword">Repeat password:</label>
        <input id="samePassword" class="form-control" style="width:300px;" type="password" formControlName="samePassword"/>
      </li>
    </ul>
    <br/>
    <button class="btn btn-success">Change password!</button>
  </form>
</div>
