<div class="jumbotron mt-n4">
  <div class="container">
    <h1 class="display-4">Company Information</h1>
    <p>
      Founded in 2019 Express Transport started out as a single truck running a 60-mile route in Munich, over the
      last few weeks we’ve led the way to become a national freight leader and global transportation company.
      The values that drove our founders decades ago still inspire us today. Our aim is green transport through a large
      fleet of Tesla Semi Trucks.
    </p>

    <br/><br/>
    <h1 class="display-4">Equipment</h1>
    <p>
      We currently operate through 4 service centers with approximately 54 Semi Trucks.
    </p>
  </div>
</div>
